* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.card {
  height: 150px;
  line-height: 150px;
  width: 150px;
  margin: 20px;
  perspective: 1000px;
  text-align: center;
  text-transform: uppercase;
}

.card.hover .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  border: solid 1px #aeaeae;
  border-radius: 4px;
  backface-visibility: hidden;
  font-size: 24px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.front {
  background: #666;
  color: #eee;
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  background: #fff;
  color: #666;
  transform: rotateY(180deg);
}

.flipper {
  height: 100%;
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.game-over {
  position: fixed;
  background: rgba(100, 100, 255, .7);
  font-size: 48px;
  line-height: 60px;
  padding: 45% 0;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.message {
  color: #fff;
  text-shadow: #000 1px 1px 1px;
}

.hidden {
  display: none;
}

.reset-link {
  font-size: 16px;
  color: blueviolet;
  text-decoration: underline;
}

.reset-link:hover {
  text-decoration: none;
}
